
<!DOCTYPE html>
<html>
<head>

  <title>Hot Dot Production</title>

  <link type="text/css" rel="stylesheets" href="/parallax_css/lib.css" />
  <script type="text/javascript" src="/parallax_js/third_party/jquery.js"></script>

  <link type="text/css" rel="stylesheets" href="/parallax_css/general.css" />
  <link type="text/css" rel="stylesheets" href="/parallax_css/slides.css" />

  <script type="text/javascript" src="/parallax_js/third_party/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="/parallax_js/third_party/jquery.custom.js"></script>

</head>
<body class='unloaded'>

<div id="parallax">

  <img alt="0.1" class="parallaxBackground" src="/parallax_img/background.jpg" />

  <div id="logoparallax">
    <img alt="1" src="/parallax_img/logoparallax/1.png" />
    <img alt="2" src="/parallax_img/logoparallax/2.png" />
    <img alt="3" src="/parallax_img/logoparallax/3.png" />
    <img alt="4" src="/parallax_img/logoparallax/4.png" />
    <img alt="5" src="/parallax_img/logoparallax/5.png" />
    <img alt="6" src="/parallax_img/logoparallax/6.png" />
    <img alt="7" src="/parallax_img/logoparallax/7.png" />

  </div>


  <div id="design" class="alignCenter">
    <img alt="1" src="/parallax_img/page1/1.png" />
    <img alt="2" src="/parallax_img/page1/2.png" />
    <img alt="3" src="/parallax_img/page1/3.png" />
    <img alt="4" src="/parallax_img/page1/circle1.png" />
    <img alt="5" src="/parallax_img/page1/circle2.png" />
    <img alt="6" src="/parallax_img/page1/circle3.png" />
  </div>


</div>




<script type="text/javascript" src="/parallax_js/third_party/modernizr.custom.js"></script>
<script type="text/javascript" src="/parallax_js/lib.js"></script>
<script type="text/javascript" src="/parallax_js/parallax.js"></script>
<script type="text/javascript" src="/parallax_js/index/resizeables.js"></script>
<script type="text/javascript" src="/parallax_js/index/preloader.js"></script>
<script type="text/javascript" src="/parallax_js/custom_events.js"></script>

<script type="text/javascript" src="/parallax_js/index/i.js"></script>

</body>
</html>