<style>
    body, html {
        overflow: auto;
    }

    #fwrapper {
        width: 960px;
        margin: 40px auto;
        padding: 40px;
        background: white;;
    }
</style>
<div id="fwrapper">
  <h1>Editing client</h1>
  <%= render 'form' %>

</div>