<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spatial Access </title>
    <script src="../../../assets/homepage/javascript/MetroJs.min.js" type="text/javascript"></script>
    <script src="../../../assets/homepage/javascript/jquery-1.11.1.js" type="text/javascript"></script>
    <link href="../../../assets/homepage/stylesheet/MetroJs.css" rel="stylesheet" type="text/css">
    <script src="../../../assets/homepage/javascript/MetroJs.js" type="text/javascript"></script>
    <link href="../../../assets/homepage/stylesheet/MetroJs.min.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/homepage/stylesheet/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main_wrapper">
    <div class="content-wrapper tiles blue">
        <section class="main-content clear-fix">
            <div class="logo"><img style="margin-top:1%;cursor: pointer;text-align: center" onclick="fetchUrl('/')" src="../../../assets/homepage/images/Logo-Colour-small.png" width="90%" height="90%"></div>
            <div class="content">Spatial Access is an audit & advisory company that helps advertisers increase their
                Marketing & Media ROI. We use proprietary technology and process to analyze a
                Marketers’ spends in Media, Production, BTL, Ad Films etc. and give them specific
                recommendations on how to conserve resources and improve both efficiency and
                impact.
            </div>
        </section>


        <section id="blocks-content" class="main-content panorama clear-fix " style="color: whitesmoke;">

            <section class="tile-group  three-wide first" style="float: left;margin-top: 1%">
                <div class="live-tile two-wide two-wide-box">
                    <div style="background-color: #f49602;" class="philosophy" >Mission: Audit marketing investments to reduce risk & enhance value
                        </div>
                </div>

                <div onclick="fetchUrl('/campaigns')" class="live-tile  live-tile-box-sec-two box_style" data-href="/campaigns" style="background-color:#d1767e;cursor: pointer" >
                Sampler
            </div>

                <div class="live-tile live-tile-box live-tile-rate-card" style="color:#fffffe;background-color:#DAA520;padding-left:10px;padding-right:10px;text-align: center;padding-top: 50px ">
                        <span class="tile-title">Rate Card Realization</span>
                        <!-- adding the 'full' class to an 'img' or 'a' tag causes it to fill the entire tile -->
                        <div><img src="../../../assets/homepage/images/fire4.jpg" class="full"></div>
                        <div><img src="../../../assets/homepage/images/earth4.jpg" class="full"></div>
                    </div>

                <div id="carousel_sec1" data-mode="carousel" data-start-now="true"
                         class="live-tile two-wide two-wide-box"
                         data-direction="horizontal" data-delay="3000">
                        <div class="testimonial" style="background-color: #be213e;" >Marketing Analytics is about using your resources to deliver better results.</div>
                        <div class="testimonial" style="background-color: #be213e ;">Our Media Audit service helps advertisers with an independent and unbiased assessment.</div>
                        <div class="testimonial" style="background-color: #be213e ;">The SA tool— PRizard is a revolution and revelation in the PR space.</div>

                    </div>

                <div id="tile1" class="live-tile tile two-wide two-wide-box" >
                    <div style="background-color:#0194a8;"><p class="box_style">front(TVC Production)</p></div>
                    <div style="background-color:#0194a8;"><p class="box_style">TVC Production</p></div>
                </div>

                <div class="live-tile live-tile-box" style="color:#fffffe;background-color:#d1767e;padding-right: 10px;padding-left: 10px;padding-top: 55px;text-align: center">Investment Analysis</div>

            </section>

            <section class="tile-group two-wide  " style="float: left;margin-top: 1%">
                <div class="tiles">
                    <div class="live-tile  two-wide blue " id="live-tile1" data-mode="flip" data-initdelay="500">
                        <!-- adding the 'full' class to an 'img' or 'a' tag causes it to fill the entire tile -->
                          <div style="background-color: #547db3;" class="audit">
                            Audit sample
                          </div>
                        <div style="background-color: #547db3;" class="audit">
                            Audit sample
                        </div>
                    </div>
                </div>
                <div class="live-tile  live-tile-box-sec-two box_style" style="background-color: #7f914a;">
                    Compensation Advisory
                </div>
                <div class="live-tile  live-tile-box-sec-two box_style" style="background-color:#4d459e;">
                    Mobile Research
                </div>
                <div class="live-tile  live-tile-box-sec-two box_style" style="background-color:#3e797f;">
                    Pitch Management
                </div>
                <div class="red">
                    <div class="live-tile live-tile-box-sec-two live-tile-rate-card">
                        <span class="tile-title">Rate Card Realization</span>
                        <!-- adding the 'full' class to an 'img' or 'a' tag causes it to fill the entire tile -->
                        <div><img src="../../../assets/homepage/images/earth1.jpg" class="full"></div>
                        <div><img src="../../../assets/homepage/images/sky1.jpg" class="full"></div>
                    </div>
                </div>
            </section>

            <section class="tile-group two-wide three " style="float: left;margin-top: 1%">

                    <div class="live-tile two-tall exclude float-right tall-title box_style"
                         style="background-color:#f49602;color: #fffffe">
                        Television Audit & Advisory
                    </div>

                    <div class="list-tile live-tile-box">
                        <ul id="flip1" class="flip-list nineTiles" data-initdelay="500" data-mode="flip-list"
                            data-delay="3000">
                            <li>
                                <div class="myClass"><img src="../../../assets/homepage/images/001.jpg"></div>
                                <div><img src="../../../assets/homepage/images/001.jpg"></div>
                            </li>
                            <li data-direction="horizontal">
                                <div class="myClass" style="background-color:#ba2564;"></div>
                                <div style="background-color:#ba2564;"></div>
                            </li>
                            <li>
                                <div class="myClass"><img src="../../../assets/homepage/images/002.jpg"></div>
                                <div><img src="../../../assets/homepage/images/002.jpg"></div>
                            </li>
                            <li data-direction="horizontal">
                                <div class="myClass" style="background-color:#ba2564;"></div>
                                <div style="background-color:#ba2564;"></div>
                            </li>
                            <li>
                                <div class="myClass"><img src="../../../assets/homepage/images/003.jpg"></div>
                                <div><img src="../../../assets/homepage/images/003.jpg"></div>
                            </li>
                            <li data-direction="horizontal">
                                <div class="myClass"><img src="../../../assets/homepage/images/004.jpg"></div>
                                <div><img src=".../../../assets/homepage/images/004.jpg"></div>
                            </li>

                            <li>
                                <div class="myClass"><img src="../../../assets/homepage/images/005.jpg"></div>
                                <div><img src="../../../assets/homepage/images/005.jpg"></div>
                            </li>
                            <li data-direction="horizontal">
                                <div class="myClass" style="background-color:#ba2564;"></div>
                                <div style="background-color:#ba2564;"></div>
                            </li>
                            <li data-direction="horizontal">
                                <div class="myClass" style="background-color:#ba2564;"></div>
                                <div style="background-color:#ba2564;"></div>
                            </li>
                        </ul>
                    </div>

                    <div id="carousel_print" data-mode="carousel" data-start-now="true" class="live-tile  live-tile-box-sec-two" data-direction="horizontal" data-delay="3000">
                        <div><img class="full" src="../../../assets/homepage/images/earth4.jpg" alt="1" /></div>
                        <div><img class="full" src="../../../assets/homepage/images/fire4.jpg" alt="2" /></div>
                        <div><img class="full" src="../../../assets/homepage/images/sky4.jpg" alt="3" /></div>
                        <div><img class="full" src="../../../assets/homepage/images/water4.jpg" alt="4" /></div>
                    </div>

                    <div class="live-tile live-tile-box-sec-two box_style" style="background-color:#709f13;text-align:center;padding-top: 65px">
                        Digital Audit & Advisory
                    </div>

                    <div class="live-tile tile live-tile-box-sec-two"  data-direction="horizontal" data-mode="flip">
                        <div style="background-color: #4f4972 ;" class="box_style">
                                <span>Market Investment Tracker</span>
                        </div>
                        <div style="background-color: #4f4972 ;" class="box_style">
                                <span>Market Investment Tracker</span>
                        </div>
                    </div>

                </section>

        </section>
    </div>
</div>
<script type="text/javascript">

    function fetchUrl(url){
        window.location= url;
    }



    $(document).ready(function () {
        $(".live-tile1,#carousel_sec1,#carousel_sec2").liveTile();
        $(".flip-list").liveTile();
        $("#live-tile1").liveTile();
        $(".live-tile-rate-card").liveTile();
        $("#carousel_print").liveTile();
        var imgs = [
            {src: 'http://www.drewgreenwell.com/images/sample/2tw.gif', alt: '2'},
            {src: 'http://www.drewgreenwell.com/images/sample/3tw.gif', alt: '3'},
            {src: 'http://www.drewgreenwell.com/images/sample/4tw.gif', alt: '4'},
            {src: 'http://www.drewgreenwell.com/images/sample/1tw.gif', alt: '1'}
        ];
        $(".tile").liveTile(
                {
                    mode: 'slide',
                    frontImages: imgs,
                    //choose images randomly from the array
                    frontIsRandom: true
                }
        );
    });
</script>
</body>
</html>
