#container {
   position:relative;
}

html {
	height: 100%;
} 

body {
	height: 100%;
}

#container {
	position:relative;
	min-height: 100%;
}

#footer {
/*overflow: hidden;*/
   position:absolute;
   bottom: 0px;
}


#footerPadding {
	height: 77px;
}